.bg-header {
    background: rgb(240,172,3);
    background: radial-gradient(circle, rgba(240,172,3,0.5609594179468662) 38%, rgba(243,226,176,0.9732842966288078) 54%);
    width: 100%;
    height: 30vh;
    padding-top: 140px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 190px;
    margin-top: 190px;
    font-family: 'MuseoModerno', cursive;
    font-size: 2.4em;
    font-weight: bolder;
}

body {
    background: url(../assets/SleekDesigns.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li { 
    list-style: none;
}

.company-logo {
    position: absolute;
    top: 80px;
    right: 20px;
}

.privacy-img {
    width: 60%;
    max-height: 310px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.privacy-form {
    height: auto;
    background-color: darkgray;
    color: teal;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 70%;
    margin-top: 75px;
}

.MemberImg {
    width: 50%;
    max-height: 310px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background: rgb(89,207,198);
    background: radial-gradient(circle, rgba(89,207,198,0.9732842966288078) 0%, rgba(240,172,3,0.5609594179468662) 49%);
}