@{
    ViewData["Title"] = "Home Page";
}
    <div class="body">
        <div class="bg-header">
            <h1 class="display-4 text-center" style="margin-top:60px;">Web Designs</h1>
        </div>







    </div>