
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-img">
    <img src="https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1188&q=80" width="100%" alt="Alternate Text" />
</div>
<br /> <br /> <br />
<fieldset class="privacy-form container text-center">
    <legend style="color: teal">Privacy Notice</legend>
    <p>
        <em>
            "My dedication to you is security and privacy of your account(s) with me. I personally manage all accounts and hold 100% garauntee that my sites are reliable 
            and safe. For security, I use my personal provider that doubles up for protection. So you can feel safe ordering, purchacing or even downloading here. For more 
            information, please message me with the contact form below."
        </em>
    </p>
 </fieldset>