@{
    ViewBag.Title = "Catalog";
}
<h1>@ViewBag["Title"]</h1>

<div class="container" style="margin-top:90px;">
    <div id="my-store-21144077"></div>
    <div>
        <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?21144077&data_platform=code&data_date=2020-07-03" charset="utf-8"></script>
        <script type="text/javascript">xProductBrowser("categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=my-store-21144077");</script>
    </div>
</div>
