@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="text-center">Members</h1>
    </div>

<div class="MemberImg">
    <img src="http://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" width="100%" alt="Alternate Text" />
</div>

<div class="container text-center" style="margin-top: 60px; width: 60%;">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div>

<div class="container-1" style="margin-top:40px">
    <div class="row">
        <div class="col-lg text-center">
            <h1 class="display-4" style="margin-bottom:20px">Profile</h1>

            <br /> <br /> <br />
            <h1>Update Changes</h1>
            <form action="/" method="post">
                <label>Name:</label> <input type="text" name="name" value="" /> <br />
                <label>Email:</label> <input type="email" name="email" value="" /> <br />
                <label>Phone:</label> <input type="number" maxlength="12" name="phone" value="" /> <br />
                <label>Message:</label> <textarea cols="40" rows="7" maxlength="255"></textarea> <br />
                <button>submit</button>
            </form>
        </div>
        <div class="col-lg text-center">
            <h1 class="display-4" style="margin-bottom:20px">Billing</h1>
            <br /> <br /> <br />
            <h1>Update Changes</h1>
            <form action="/" method="post">
                <small style="color:red;"><em>Call to update card info</em></small> <br />
                <label>Name:</label> <input type="text" name="name" value="" /> <br />
                <label>Email:</label> <input type="email" name="email" value="" /> <br />
                <label>Phone:</label> <input type="number" maxlength="12" name="phone" value="" /> <br />
                <label>Message:</label> <textarea cols="40" rows="7" maxlength="255"></textarea> <br />
                <button>submit</button>
            </form>
        </div>
    </div>
</div>