<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigDesigns</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=MuseoModerno:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cce4d0df7e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DigDesigns</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="color: teal;">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Catalog">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Members">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="company-logo">
        <img src="https://document-export.canva.com/DADfAYpkId8/16/thumbnail/0001-6155757011.png" width="60" height="60" alt="Alternate Text" />
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container" style="color: teal">
            <h3 style="font-family: 'Dancing Script', cursive;" class="text-center">Web Author: Stephen Brooks</h3>
            <div class="row">
                <div class="col-md text-center" style="margin-top: 10px;">
                    <p>
                        <ul>
                            <li>Web Design - asp.Net core frameworks</li>
                            <li>Posters - Adobe InDesign & PhotoShop</li>
                            <li>Brochures - Adobe InDesign & PhotoShop</li>
                            <li>Hosting - Using Microsoft Azure</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md text-center" style="margin-top: 20px;">
                    &copy; 2020 - DigDesigns - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <h3>Licensed Web Designs</h3>
                    <address>
                        <ul>
                            <li>Duncan, Oklahoma</li>
                            <li>580-309-0236</li>
                        </ul>
                    </address>
                </div>
                <div class="col-md text-center" style="margin-top: 10px;">
                    <h3>Policies</h3>
                    <p>
                        I create templates for sale, offer ongoing service,
                        SEO optimizations, and storage for your clients. I 
                        do not garuantee your success because that relies
                        on you, but I can offer guidance.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
